# pycache
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.venv/

# Unit test / coverage reports
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# pyenv
.python-version

# Environments
.env
.env.*
.venv
venv/
ENV/

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Other
.DS_Store
